= title 'Topics'

= link_to "New Topic", new_topic_path

- topics.each_letter do |letter, topics|
  %h3= letter
  %ul
  - topics.each do |topic|
    %li
      =link_to topic.name, topic, class: 'topic'
