=title topic.name

- if topic.blips.any?
  This topic appears your following radars:

  - topic.blips.includes(:radar).decorate.each do |blip|
    %h2
      = link_to blip.radar_name, blip.radar

    = admin do
      Owner:
      = link_to blip.radar_owner.name, blip.radar_owner

    = render 'radars/blips/detail', blip: blip
- else
  This topic doesn't yet appear on any of your radars.
