=title topic.name

This topic appears in the following radars:

- topic.blips.includes(:radar).each do |blip|
  %h2
    = link_to blip.radar_name, blip.radar

  Owner:
  = link_to blip.radar_owner.name, blip.radar_owner
  = render 'radars/blips/detail', blip: blip
