=title topic.name

This topic appears in the following radars:

- topic.blips.includes(:radar).decorate.each do |blip|
  %h2
    = link_to blip.radar_name, blip.radar

  = admin do
    Owner:
    = link_to blip.radar_owner.name, blip.radar_owner

  = render 'radars/blips/detail', blip: blip
