= title 'Welcome to techradar.io'
<a class="github-fork-ribbon" href="https://github.com/andyw8/techradar" title="Fork me on GitHub">Fork me on GitHub</a>

.tagline
  techradar.io is a tool for building and sharing your own Technology Radar.
%br
.preview-notice
  This is an early preview - please forgive the rough edges and limited features.
%br
%br
%div{align: "center"}
  %iframe{src: "http://fast.wistia.net/embed/iframe/ea0o1v3qng",
  frameborder: 0, scrolling: "no", width: 720, height: 450}
  .video-caption
    = link_to "ThoughtWorks explains its Technology Radar", "http://www.thoughtworks.com/radar/faq"

- Analytics.track(event: 'Visited Home Page', anonymous_id: 1)
