= title "About"

Why use a personal technology radar?

%h2 For yourself

%h3 As a personal learning log

%h3 As an analysis tool

%h3 On your CV

Instead of a boring list of acronyms, embed a

%h3 On your blog

%h2 For your company

Note: techradar.io will soon add collaboration features and private accounts.
