%table.table
  %tr
    %th
    - Blip::RINGS.each do |ring|
      %th= ring.humanize
    - Blip::QUADRANTS.each do |quadrant|
      %tr{class: quadrant}
        %th= quadrant.humanize
        - Blip::RINGS.each do |ring|
          %td{class: ring}
            - radar.entries(quadrant, ring).each do |entry|
              %span.blip{title: entry.notes}= entry.name
