%table.table
  %tr
    %th
    - Blip::RINGS.each do |ring|
      %th= ring.humanize
    - Blip::QUADRANTS.each do |quadrant|
      %tr{class: quadrant}
        %th= quadrant.humanize
        - Blip::RINGS.each do |ring|
          %td{class: ring}
            %ul
              - radar.entries(quadrant, ring).each do |blip|
                %li
                  = link_to blip.name, [radar, blip], { title: blip.notes, class: 'blip' }
