- RingList.new.each do |ring|
  %h2= ring.name
  - blips_in_scope = radar.blips.in_scope(ring.value, params[:quadrant])
  - if blips_in_scope.any?
    %ul{class: [ring.value, params[:quadrant]]}
      - blips_in_scope.each do |blip|
        %li
          = link_to blip.name, radar_blip_path(radar, blip), id: "blip_#{blip.id}", class: "blip"
          - if blip.notes?
            = icon("comment")
  - else
    No entries
