%ul.nav.nav-pills
  - QuadrantList.names.each do |quadrant|
    %li{class: quadrant == params[:quadrant] ? "active" : ""}
      = link_to radar_quadrant_path(@radar, quadrant: quadrant) do
        = quadrant.titleize
        .badge= @radar.blips_in_quadrant_count(quadrant)
