= title 'Radars'

- if current_user.first_sign_in?
  %p
    Welcome to <strong>techradar.io</strong>. We have a created a radar to help you get started.

- if radars.any?
  %ul.radars
    - radars.each do |radar|
      %li
        =link_to radar.name, radar
- else
  No radars

- if can? :create_radar
  = link_to 'New Radar', new_radar_path, class: 'btn btn-default'
