%h1= @radar.name

%ul
  - @radar.blips.each do |blip|
    %li.blip
      = blip.name

= link_to 'New Blip', new_radar_blip_path(@radar)

= button_to 'Delete', radar_path(@radar), method: :delete, class: 'btn btn-danger', confirm: 'Are you sure?'
