%dl
  %dt Quadrant:
  %dd= blip.quadrant.titleize
  %dt Ring:
  %dd= blip.ring.titleize
  -if blip.updated_at
    %dt Last Modified:
    %dd= blip.last_modified

= blip.notes || 'No notes for this blip'
