/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

.home h1, .tagline { text-align: center }
div.admin { background-color: yellow; }

.radars.show {
  h1 {
    float: left;
  }
}

form.button_to { display: inline; }
.highlight {
  background-color: yellow;
}

.quadrant-nav {
  text-align: center;
  margin-bottom: 1em;
}

.preview-notice {
  text-align: center;
  font-size: small;
  color: #999
}

.social-links {
  text-align: right;
  font-size:small;
}

.public-sharing-link {
  text-align: right;
}
